@charset "UTF-8";
/*********************************************************************************************

Core block: file (Frontend styles)

**********************************************************************************************/

.mojblocks-file {
	margin-bottom: 10px;
	position: relative;
	min-height: 2rem;

	&__extention {
		display: inline-block;
		position: relative;
	}
}
