@charset "UTF-8";
/*********************************************************************************************

Core block: separator (Frontend styles)

**********************************************************************************************/

.wp-block-separator.is-style-vertical {
	width: 2px;
	background: currentColor;
	border: none;
    width: 2px;
    height: 1.25em;
    margin: 0;
    display: inline-block;
}
