/*********************************************************************************************

Plugin Name: Website Builder Blocks
Author:  Ministry of Justice
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: mojblocks

**********************************************************************************************/
// Target backend (editor) styles
.edit-post-visual-editor,
.block-editor-block-styles,
// For the pattern edit screen - unsure if I need to be this specific.
.block-editor-iframe__body.editor-styles-wrapper, 
.block-editor-inserter__menu-help-panel {

    // load variables
    @import "assets/scss/variables.scss";

    // load editor specific styles
    @import 'src/**/editor.scss';
}
