.wb-query-total__editor-wrap {
  // Positioning context for the overlay
  position: relative;
  // When the CSS has loaded, revert the inline opacity: 0;
  opacity: 1 !important;

  .wb-query-total__orig {
    .wp-block-query-total {
      // Hide the original block text, whilst preserving height.
      color: transparent !important;

      // Styles for when the block is being dragged.
      &.is-dragging {
        // Dragging indicator, otherwise it's just a white box.
        background-color: var(
          --wp--preset--color--background-secondary
        ) !important;
      }
    }
  }

  // Overlay the client-rendered text
  .wb-query-total__preview {
    position: absolute;
    inset: 0;
    // Ensure the overlay doesn't block selecting/dragging the block
    pointer-events: none;
  }
}
