@charset "UTF-8";
/*********************************************************************************************

Block: Government SVGs

**********************************************************************************************/

@import 'style.scss';
