@charset "UTF-8";
/*********************************************************************************************

Block: Government SVGs

**********************************************************************************************/

.wb-hmg-svg {
	display: inline-block;
	svg {
		min-width: 45px;
		max-width: 260px;
	}
}
