@charset "UTF-8";
/*********************************************************************************************

Block: Government SVGs

**********************************************************************************************/
img.crest {
	max-width: 130px;
}
