@charset "UTF-8";
/*********************************************************************************************

Core block: File (Gutenberg editor styles)

**********************************************************************************************/

// We have to target a WP core CSS class (.wp-block-file)
// to prevent getting a rendering/broken block message.

.wp-block-file {
	margin-top: 5px;

	.rich-text {
		color: rgb(0, 89, 255);
		text-decoration: underline;
	}

	.wp-block-file, .wp-block-file__button {
		background-color: white;
		color: black;
		font-size: medium;
		padding: 0.5em;
		text-decoration: none;
	}

	.wp-block-file, .wp-block-file__button-richtext-wrapper {
		padding: 0;
		margin-left: 0;
	}

	// Here we hide the PDF preview
	// Note that this is only visible for the editor since the frontend side is already not being shown
	// probably owing to our changes to add the suffix of file type and size.
	// The controls to display PDF will now be superfluous, but still visible.
	.components-resizable-box__container {
		display:none ! important;
	}

	.wp-block-file__embed,
	.wp-block-file__button {
		display: none;
	}
}

