nav.is-style-drawer {

	--drawer-menu-gap: 1.5rem;
	/**
	* This file contains all the required styles for the drawer nav except colour, which is in the theme.
	*/

	padding: var(--drawer-menu-gap) 0;

	.wp-block-navigation__container {
		.has-child .wp-block-navigation-submenu__toggle[aria-expanded=true]~ul.wp-block-navigation__submenu-container {
			flex-direction: row;
			flex-wrap: wrap;
			gap: var(--drawer-menu-gap) 0;
			padding: var(--drawer-menu-gap) 0;
			border: none;
			font-weight: 700;
			width: calc(1px + var(--size-content)); //max width set by JS to exclude scrollbar
			left: -1px;

			.wp-block-navigation-item  {
				text-wrap: balance;
				inline-size: 25%;
				align-items: baseline;

				@media (width > 800px) {
					// This is within a media query as it won't be overwritten by the next media query.
					&:nth-child(4n+1) .wp-block-navigation-item__content {
						padding-left: 0;
					}
					&:nth-child(4n) .wp-block-navigation-item__content {
						padding-right: 0;
					}
				}
				@media (width <= 800px) {
					inline-size: 33%;
					align-items: baseline;

					&:nth-child(3n+1) .wp-block-navigation-item__content {
						padding-left: 0;
					}
					&:nth-child(3n) .wp-block-navigation-item__content {
						padding-right: 0;
					}
				}
			}
		}
		.wp-block-navigation-item {
			// The drawer effect needs the submenu to be aligned with the whole menu.
			// Absolute positioning is already used out-of-the-box.
			// But that is relative to its direct parent (this).
			// So we change this to static so it positioned relative to the whole nav.
			position: static;
		}
	}
}