@charset "UTF-8";
/*********************************************************************************************

Block: Filterable Listing (Gutenberg editor styles)

**********************************************************************************************/

@import "style.scss";

.wb-table-of-contents {
	margin-left: 0.1px; // this is to make the thin submenu border more visible when the item is highlighted for editing
}

// This mimicks the sticky behaviour, moving out of the way of the block controls if selected.
div[data-type="wb-blocks/table-of-contents"]:has(.toc-sticky) {
	position: sticky;
	top: 12px;

	&.is-selected {
		top: 60px;
	}
}

.empty a {
	color: #b1b4b6;
	font-style: italic;
}

.toc-sub-menu-control:not(.dual-level *) {
	display: none;
}

.sub-heading {
	&:not(.dual-level *),
	&:not(.expanded) {
		display: none;
	}

	margin: 0 1rem;
	padding: 0;
	list-style-type: var(--bullet-icon);
	list-style-position: inside;

	&::marker {
		// The current page will be bold, so we add this to stop the marker from flickering as the page scrolls
		font-weight: 400;
	}

	a {
		margin-left: 0.5rem;
	}

	&:is(.toc-no-marker *) {
		list-style-type: none;
	}
	&:is(.toc-border *) {
		border-left: 1px solid;
		list-style-type: none;
	}
}
