@charset "UTF-8";
/*********************************************************************************************

Block: Filterable Listing (Frontend styles)

**********************************************************************************************/


// Copied from Hale - needs rework
.wb-table-of-contents {
	padding-bottom: 1.1rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid;

	&__sub-list {
		border-left: 0.1rem solid;
	}

	@media print {
		border-bottom: none;

		.toc-sub-menu-control {
			display:none;
		}

		&__sub-list {
			display: none;
		}
		&__item {
			break-inside: avoid-column;
		}
		.wb-print-col {
			column-rule: #000 solid 1px;

			&--2 {
				column-count: 2;
				-webkit-column-count: 2;
				-moz-column-count: 2;
			}
			&--3 {
				column-count: 3;
				-webkit-column-count: 3;
				-moz-column-count: 3;
			}
		}
	}

	@media screen {
		max-height: 97vh;
		overflow-y: auto;
		padding: 0.5rem 0.5rem 1.1rem 0;
		margin-left: -15px;
		border-bottom: none;

		&__heading {
			padding-left: 15px;
			margin-bottom: 24px;
			font-weight: bold;
		}

		&__list {
			margin-bottom: 2rem;
			list-style-type: none;
			padding-left: 0;

			&--number {
				list-style-type: decimal;
			}
		}
		&__sub-list {
			display: none;
			font-weight: 400;

			&:is(.toc-sticky *) {
				&:has(.wb-table-of-contents__item--current),
				&:is(.wb-table-of-contents__item--current *) {
					&:is(.dual-level *) {
						display: block;
					}
				}
			}
			&:is(.dual-level [aria-expanded="true"]+*) {
				display: block;
			}
		}
		&__item {

			a {
				&:hover {
					background-color: color-mix(
						in srgb,
						var(--colour-page-background) 92.65%,
						var(--colour-foreground)
					);
				}
			}
			padding-left: 15px;
			padding-top: 0.2rem;
			padding-bottom: 0.2rem;
			margin-bottom: 10px;
		
			@media (min-width:782px) {
				&:has(.wb-table-of-contents__item--current),
				&--current {
					font-weight: 700;
				}
			}

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.toc-sub-menu-control {
			padding: 0;
			margin: 0.3rem;
			width: 1.5rem;
			cursor: pointer;

			&__text {
				&:after {
					content:"+";
					position: relative;
					top:2px;
				}
				&:is([aria-expanded="true"] *):after,
				&:is(.opened *):after {
					content:"–";
					top:0;
				}
			}
		}
	}
}

#table-of-contents {
	top: 2rem;
	overflow-y: auto;
	@media (min-width:782px) {
		&.toc-sticky {
			position: sticky;
		}
	}
}

.wb-jump-link {
	display: inline;
}
body:has(.toc-sticky) .wb-jump-link {
	@media (min-width:782px) {
		display: none;
	}
}
