@charset "UTF-8";
/*********************************************************************************************

Block: Filterable Listing (Frontend styles)

**********************************************************************************************/


// Copied from Hale - needs rework
.wb-table-of-contents {
	padding-bottom: 1.1rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid;

	@media print {
		border-bottom: none;
	}

	@media screen {
		max-height: 97vh;
		overflow-y: auto;
		padding: 0.5rem 0.5rem 1.1rem 0;
		margin-left: -15px;
		border-bottom: none;

		&__heading {
			padding-left: 15px;
			margin-bottom: 24px;
			font-weight: bold;
		}

		&__list {
			margin-bottom: 2rem;
			list-style-type: none;
			padding-left: 0;

			&--number {
				list-style-type: decimal;
			}
		}
		&__item {

			&:hover {
				background: #00000014;
			}
			padding-left: 15px;
			padding-top: 0.2rem;
			padding-bottom: 0.2rem;
			margin-bottom: 10px;
		
			@media (min-width:782px) {
				&--current {
					font-weight: 700;
				}
			}

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

#table-of-contents {
	top: 2rem;
	overflow-y: auto;
	@media (min-width:782px) {
		&.toc-sticky {
			position: sticky;
		}
	}
}

.wb-jump-link {
	display: inline;
}
body:has(.toc-sticky) .wb-jump-link {
	@media (min-width:782px) {
		display: none;
	}
}
