@charset "UTF-8";
/*********************************************************************************************

Block: Filterable Listing (Frontend styles)

**********************************************************************************************/

.wb-listing,
.wb-listing-thumbnail {
	border-color: hsl(from currentColor h 3% 70%);
}

.wb-listing-thumbnail {
	border-radius: var(--site-radius, 0);
}

.wb-shaded {
	background-color: color-mix(in srgb, currentColor 12%, transparent);
	border-radius: min(var(--site-radius), 2rem);
}
.wb-datepicker__dialog {
	@apply absolute left-0 z-[10] w-auto min-w-[280px] p-5 outline outline-2 outline-offset-[-2px] transition-[background-color,outline-color] duration-200;

	border-radius: min(var(--site-radius, 0), 25px);

	//colours
	@apply bg-[var(--colour-page-background,#fff)] text-[var(--colour-foreground,#0b0c0c)] dark:bg-[var(--colour-page-background,#111827)] dark:text-[var(--colour-foreground,#ffffff)];

	&--open {
		display: block;
	}
}

.wb-datepicker__dialog-header {
	@apply relative mb-[10px] flex w-full items-center justify-center md:w-auto;
}
.wb-datepicker__dialog-navbuttons {
	display: flex;
	align-items: center;
}
.wb-datepicker__dialog-calendar {
	@apply mb-5;
	border-collapse: collapse;
}
.wb-datepicker__button {
	@apply m-0 h-[40px] w-[44px] border-0 bg-transparent p-0 text-sm leading-[1.14286] font-normal antialiased outline-2 outline-offset-[-2px] outline-transparent;
	position: relative;
}
.wb-datepicker__wrapper {
	position: relative;
}

.wb-datepicker__wrapper:has(.wb-js-datepicker-input ~ .wb-datepicker__toggle) {
	.wb-js-datepicker-input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		position: relative;
		z-index: 5;

		~ .wb-datepicker__toggle {
			margin: 0 0 0 5px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
