@charset "UTF-8";
/*********************************************************************************************

Core block: list (Frontend styles)

**********************************************************************************************/

@use '../../../assets/scss/fallback-colours';

:root,
.editor-styles-wrapper {
	:where(.wp-block-list.is-style-horizontal) {
		padding-right: 1.1rem;
	}
}

ul, ol {
	&:not(.edit-screen-container *) {
		// This just sets the bullet colour to the current colour by default.
		// Important for lists within lists, as they would otherwise pick up the parent list's colour
		--bullet-colour: currentColor;
	}
}

li::marker {
	color: var(--bullet-colour, currentColor);
}

ol.is-style-horizontal,
ul.is-style-horizontal {
    display: flex;
    flex-wrap: wrap;

	> li {
		max-width: var(--max-prose-width,768px);
		position: relative;
		margin-right: 4rem;

		@media (max-width: 800px) {
			width: 100%;
		}
	}

	&.has-horizontal-layout-grid {
		display: grid;
		gap: 0.5rem;
		grid-template-columns: 1fr;

		&--loose {
			@media (min-width: 800px) {
				grid-template-columns: 1fr 1fr;
			}
		}
		&--tight {
			grid-template-columns: repeat(2, 1fr);
			li {
				width: auto;
				margin-right: 2.5rem;
			}
			@media (min-width: 800px) {
				grid-template-columns: repeat(4, 1fr);
			}
		}

	}
}

// UL is needed to protect against an icon being selected
// but the list then being changed to an ordered list.
// If that happens, then icons are ignored.
.is-style-icon-list > ul,
ul.is-style-icon-list {
	--bullet-width: 24px;
	
	list-style: none;
	padding-left: 0;

	> li {
		position: relative;
		margin-left: calc(6px + var(--bullet-width));

		&:before {
			background-color: var(--bullet-colour, currentColor);
			content:"";
			width: var(--bullet-width);
			height: 24px; // might not be square, but probably is
			position: absolute;
			left: -2rem;
			top: 3px;
			display: inline-block;
			margin-right: 10px;
			-webkit-mask-size: contain;
			mask-size: contain;
			-webkit-mask: var(--bullet-icon);
			mask: var(--bullet-icon);
		}
	}
}
