@charset "UTF-8";
/*********************************************************************************************

Block: Accordion (Gutenberg editor styles)

**********************************************************************************************/

/*********************************************************************************************

SASS modifications to conform GovUK frontend to MoJ block styling

**********************************************************************************************/

@import 'style.scss';

.showHideThis,
.showHideAll {
	color:deepskyblue;
	cursor: pointer;
	margin-bottom: 20px;

	&:hover {
		color:blue;

		.show-hide-arrow {
			background-color: currentColor;
			color: currentColor;
			&:after {
				color: #888;
			}
		}
	}

	.show-hide-text {
		padding-left: 6px;

		&:before {
			content:"Hide "
		}
	}
	.show-hide-arrow {
		border: 0.0625rem solid;
		border-radius: 50%;
		box-sizing: border-box;
		display: inline-block;
		height: 1.25rem;
		position: relative;
		vertical-align: middle;
		width: 1.25rem;

		&:after {
			border-right: 0.125rem solid;
			border-top: 0.125rem solid;
			bottom: 0.3125rem;
			box-sizing: border-box;
			content: "";
			display: block;
			height: 0.375rem;
			left: 0.375rem;
			position: absolute;
			transform: rotate(-45deg);
			width: 0.375rem;
		}
	}

	&.showThis,
	&.showAll {
		.show-hide-arrow {
			transform: rotate(180deg);
		}
		.show-hide-text {
			&:before {
				content:"Show "
			}
		}
	}
}

.showHideAll:after {
	content: " all sections";
}

.govuk-accordion.preview-welsh-true {
	.showHideAll:after {
		content: " pob adran";
	}
	.showHideThis,
	.showHideAll {
		.show-hide-text {
			&:before {
				content:"Dangos "
			}
		}
		&.showThis,
		&.showAll {
			.show-hide-text {
				&:before {
					content:"Cuddio "
				}
			}
		}
	}
}

.accordion-hidden {
	.govuk-accordion__section-content {
		display: none;
	}

	&:after {
		content:'⚠️ Section content hidden - click "Show" to edit';
		padding: 10px;
		display: block;
		background-color: #888;
		margin: 20px 0;
	}
}

.govuk-accordion.preview-welsh-true {
	.accordion-hidden {
		&:after {
			content:'⚠️ Section content hidden - click "Cuddio" to reveal and edit';
		}
	}
}
