@charset "UTF-8";
/*********************************************************************************************

Core block: Search (Gutenberg editor styles)

**********************************************************************************************/

// Use the frontend styles
@import 'style.scss';
