@charset "UTF-8";
/*********************************************************************************************

Core block: group (Frontend styles)

**********************************************************************************************/

@media (min-width: 782px) {
	.is-style-sticky {
		position: sticky;
		overflow-y: auto;
		top: 2rem;
	}
}
