@charset "UTF-8";
/*********************************************************************************************

Block: Print Button (Frontend styles)

**********************************************************************************************/

.wb-print-button{
	&--has-icon{
		 
	
		&.wb-print-button--icon-left:before {
			background-color: currentColor;
			min-width: calc(1.2em * var(--icon-size));
			min-height: calc(1.2em * var(--icon-size));
			width: calc(1.2em * var(--icon-size));
			height: calc(1.2em * var(--icon-size));
			position: relative;
			top: 5px;
			display: inline-block;
			mask-size: contain;
			mask-image: var(--icon);
			mask-position:center;
			mask-repeat:no-repeat;
			content:"";
			margin-right: 6px;
			
			
		}

		&.wb-print-button--icon-right:after {
			background-color: currentColor;
			min-width: calc(1.2em * var(--icon-size));
			min-height: calc(1.2em * var(--icon-size));
			width: calc(1.2em * var(--icon-size));
			height: calc(1.2em * var(--icon-size));
			position: relative;
			top: 5px;
			display: inline-block;
			content: "";
			mask-image: var(--icon);
			mask-size: contain;
			mask-position: center;
			mask-repeat: no-repeat;
			margin-left: 6px;
		}

	}
	
}

