@media (max-width: 599px) {
  // For small screens only, lets make sure the 3 parts of the pagination are centred.
  // Use a grid, so that even when the previous/next elements are missing,
  // the numbers stay in the center.
  .wp-block-query-pagination.is-style-centred-on-mobile {
    display: grid;
    grid-template-areas: "prev numbers next";
    grid-template-columns: repeat(3, 1fr);
    // Overwrite the potentially large desktop gap.
    gap: 1rem;

    .wp-block-query-pagination-previous {
      grid-area: prev;
      text-align: left;
    }

    .wp-block-query-pagination-numbers {
      grid-area: numbers;
      text-align: center;
    }

    .wp-block-query-pagination-next {
      grid-area: next;
      text-align: right;
    }
  }
}
